<app-header [titulo]="titulo || 'Alert Page'"></app-header>
<ion-content>
    <ion-button expand="full" color="primary" (click)="presentAlert()">
        Mostrar  presentAlert
      </ion-button>
      <ion-button expand="full" color="primary" (click)="presentAlertMultipleButtons()">
        Mostrar presentAlertMultipleButtons
      </ion-button>
      <ion-button expand="full" color="primary" (click)="presentAlertConfirm()">
        Mostrar presentAlertConfirm
      </ion-button>
      <ion-button expand="full" color="primary" (click)="presentAlertPrompt()">
        Mostrar presentAlertPrompt
      </ion-button>
      <ion-button expand="full" color="primary" (click)="presentAlertRadio()">
        Mostrar presentAlertRadio
      </ion-button>
      <ion-button expand="full" color="primary" (click)="presentAlertCheckbox()">
        Mostrar presentAlertCheckbox
      </ion-button>
      <ion-button expand="full" color="primary" (click)="tarea()">
        Mostrar tarea
      </ion-button>
      
</ion-content>
