<app-header titulo="Cards"> </app-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card  mode ="md"  > 
    <ion-item color="secondary">
      <ion-icon color="tertiary" slot="start" name="logo-octocat"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, illo esse dolor consectetur doloremque iste obcaecati? Veritatis quis asperiores debitis veniam excepturi assumenda voluptatibus a voluptatem esse delectus. Eaque, repellat?
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/shapes.svg">
      
    </ion-img>
    <ion-card-content >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, illo esse dolor consectetur doloremque iste obcaecati? Veritatis quis asperiores debitis veniam excepturi assumenda voluptatibus a voluptatem esse delectus. Eaque, repellat?
    </ion-card-content>
  </ion-card>
</ion-content>
